#include <windows.h>
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 ICON "assets/icon.ico"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 RT_MANIFEST "assets/scrcpy-ez.manifest"
1 VERSIONINFO
FILEVERSION 2,2,2,2
PRODUCTVERSION 2,2,2,2
FILEFLAGSMASK 0x3fL
FILEFLAGS VS_FF_PRERELEASE
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "kinewe\0"
      VALUE "FileDescription", "scrcpy-ez\0"
      VALUE "FileVersion", "2.2.2-root.2\0"
      VALUE "InternalName", "scrcpy-ez\0"
      VALUE "OriginalFilename", "scrcpy-ez.exe\0"
      VALUE "ProductName", "scrcpy-ez\0"
      VALUE "ProductVersion", "v2.2.2-root.2\0"
      VALUE "Comments", "Based on scrcpy-ez 2.2.2 b680f551; root-only attempt\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
